@import 'tailwindcss';

@theme {
  --color-*: initial;

  --color-blue-300: #20a0de;
  --color-blue-500: #0b7db8;
  --color-blue-700: #006ba5;

  --color-red-300: #f13d30;
  --color-red-500: #cf2a1f;
  --color-red-700: #b6251b;

  --color-green-500: #0aa649;
  --color-green-700: #04963f;

  --color-yellow: #edca06;

  --color-gray-50: #dae4f2;
  --color-gray-100: #dae4f2;
  --color-gray-200: #c8d0da;
  --color-gray-300: #95a1b1;
  --color-gray-400: #6f7d90;
  --color-gray-500: #2a313c;
  --color-gray-600: #2e2e39;
  --color-gray-700: #23232b;
  --color-gray-800: #18181e;
  --color-gray-900: #101014;
  --color-gray-950: #09090B;

  --font-heading: var(--font-oxanium);
  --font-sans: var(--font-montserrat);

  --radius-xl: 0.5rem;
}

.button {
  background-color: none;
  padding: 10px 32px;
  border: solid 1.5px var(--color-gray-300);
  border-radius: var(--radius-xl);
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  color: var(--color-gray-900);
  background-color: var(--color-gray-100);
}

.height-home {
  height: calc(100dvh - 60px);
}

@media (max-width: 768px) {
  .height-home {
    height: auto;
    min-height: calc(80vh - 60px);
  }
}
