@import 'tailwindcss';

@theme {
  --color-*: initial;

  --color-primary-300: #00ddea;
  --color-primary-500: #00afc4;
  --color-primary-700: #0090a3;
  --color-primary-900: #0e5b6b;
  --color-primary-950: #023d4a;

  --color-red-500: #f24052;
  --color-red-700: #87142f;
  --color-red-800: #731128;

  --color-green-500: #00e8b7;
  --color-green-700: #00987e;

  --color-yellow: #d3c845;

  --color-gray-50: #f7f7f8;
  --color-gray-100: #ededf1;
  --color-gray-200: #d8d9df;
  --color-gray-300: #b5b6c4;
  --color-gray-400: #606171;
  --color-gray-500: #444550;
  --color-gray-600: #2e2e39;
  --color-gray-700: #23232b;
  --color-gray-800: #1c1c22;
  --color-gray-900: #14141a;
  --color-gray-950: #0f0f14;

  --font-heading: var(--font-oxanium);
  --font-sans: var(--font-montserrat);

  --radius-xl: 0.5rem;
}

.button {
  background-color: none;
  padding: 10px 32px;
  border: solid 1.5px var(--color-gray-300);
  border-radius: var(--radius-xl);
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  color: var(--color-gray-900);
  background-color: var(--color-gray-100);
}

.height-home {
  height: calc(100dvh - 60px);
}

@media (max-width: 768px) {
  .height-home {
    height: auto;
    min-height: calc(80vh - 60px);
  }
}
